.my-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.main{
    color:#f6f6f6
}



h3{
    color:green
}

h1{
    color:green;

}

body{
    margin:0px;
    padding: 0px
}

main{
    padding: 16px;
}

footer{
    padding-top:  24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color:rgb(144, 172, 73);

}

img{
    height: 200px
}

nav{
    padding: 16px;
    background-color: rgb(231, 40, 40);
    border-bottom: 2px solid black;
}

/* unvisited link */
a:link{
    color: red;
}

  /* visited link */
a:visited{
    color: green;
}

  /* mouse over link */
a:hover {
    color: hotpink;
}

.change{
    background-image;
}